html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
   
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset code ends*/

body {
	background-color:black;
	background:url("bgnew.jpg") no-repeat;
    height:100vh;
	
	
	background-size:cover;
	overflow:hidden; 
}

.wholepage {
	
	padding:16vh 0;
}

.topmenu {
	font-family: 'Rajdhani', sans-serif;
	display:flex;
	margin:0 0 15px 0;
	color:white;
}

.topmenuleft {
	font-size:24px;
	font-weight:600;
	color:rgba(242,255,254,.80);
	background-color:rgba(255,255,255,0.08);
	margin:10px 0 10px 67px;
	padding:10px 14px;
	display:flex;
	align-items:center;
	position:absolute;
}

.topmenuright {
	margin:0 auto;
	width:57vw;
}

.customiseyourchildren {
	font-size:70px;
	font-weight:700;
	color:rgba(210,255,251,.16);
}

.lessopacity {
	font-size:70px;
	font-weight:700;
	color:rgba(210,255,251,.12);
}

/* .bgimage {
    background:url("bg.jpg") no-repeat;
    height:110vh;
	
	background-size:cover;
    /* background-size:cover; */
} */

/* @media (max-width:1800px) {
	.totalbox {
		zoom:80%;
	}	
}  

@media(max-width:1500px) {
	.totalbox {
		zoom:65%;
	}	
}  

@media(max-width:1200px) {
	.totalbox {
		zoom:60%;
	}	
}   */

@media(min-width:2100px) {
	.totalbox {
		zoom:110%;
	}	
}  

@media(min-width:2300px) {
	.totalbox {
		zoom:125%;
	}	
}  

@media(min-width:2500px) {
	.totalbox {
		zoom:135%;
	}	
}  

@media(min-width:2800px) {
	.totalbox {
		zoom:150%;
	}	
}  

@media(min-width:3400px) {
	.totalbox {
		zoom:200%;
	}	
}  

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size:38px;
    color:rgba(210,255,251,.27);
	font-weight:700;
}



h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size:20px;
    font-weight: 400;
    padding:4px 0 45px 0;
    color:rgba(242,255,254,.47);
}



h3 {
    font-size:20px;
    font-weight:400;
    margin:6px 0 5px 0;
    color:rgba(242,255,254,.47);
}

h4 {
    padding:15px 0 0 0;
    color:rgb(236,255,254);
}


.off {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s, opacity 0.5s linear;
}

.totalbox {
	display: flex;
	flex-direction:row;
	padding:40px 0 25px 0 ;
	/* background-color:rgba(255, 255, 255, 0.05); */
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(100px);
	backdrop-filter: brightness(120%);
	justify-content:space-between;
}


.h2nopad {
	padding:0;
	margin:0 0 40px 0;
}



.bottomdisclaimer {
	display:flex;
	justify-content:space-between;
	font-family: 'Rajdhani', sans-serif;
	margin:18px 0 0 0;
	padding:0 40px 0 25px;
}

.disclaimerleft {
	color:rgba(242,255,254,.29);
	font-size:16px;
	width:280px;
}

.version {
	text-align:right;
}

#versionlightest {
	font-size:18px;
	font-weight:400;
	color:rgba(242,255,254,0.2);
	margin:-8px 0 10px 0;
}

#versionlight {
	font-size:18px;
	font-weight:400;
	color:rgba(242,255,254,0.4);
	margin:-8px 0 10px 0;
}

#versiondark {
	font-size:20px;
	font-weight:500;
	color:rgba(242,255,254,0.85);
	margin:-8px 0 10px 0;
}



/* Glitch */
/* 
.imrelative {
	position:relative;
} */

.imrelative {
	position:relative;
	top:10px;
	left:10px;
}

.imabsolute {
	position:absolute;
	top:0;
	left:0;
}

.imrelative2 {
	position:relative;
	top:10px;
	left:5px;
}

.imabsolute2 {
	position:absolute;
	top:0;
	left:525px;
}

.text {
	color: #e2f8ff;
	text-transform: uppercase;
	font-weight:700;
	font-size: 60px;
	letter-spacing: 8px;
	position:absolute;
	top:6px;
	left:6px;
	width:400%;
  }
  
  .text::before,.text::after{
	content: attr(data-text);
	position:absolute;
	
	width: 200%;
	
	z-index: -1;
  }
  
  .text::before{
	color: #ff00c1;
	animation: glitch-effect 3s infinite;
  }
  
  .text::after{
	color: #3498db;
	animation: glitch-effect 2s infinite;
  }
  
  @keyframes glitch-effect {
	0%{
	  left: -2.5px;
	  top: -2.5px;
	}
	25%{
	  left: 2.5px;
	  top: 0px;
	}
	50%{
	  left: -1.5px;
	  top: 2.5px;
	}
	75%{
	  left: 1.5x;
	  top: -1.5px;
	}
	100%{
	  left: 0px;
	  top: -2.5px;
	}
  }
  

/*back arrows*/

.leftback {
	display:flex;
	flex-direction:column;
	margin:auto 100px auto 100px;
	align-items:center;
}

.leftbacktop {
	width:55px;
	height:55px;
	border:1px solid rgba(255, 255, 255, .24);
	color:rgba(242,255,254,0.56);
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	text-align:center;
	padding:16px;
	margin:0 auto;
}

.rightbacktop {
	width:55px;
	height:55px;
	border:1px solid rgba(255, 255, 255, .24);
	color:rgba(242,255,254,0.56);
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	text-align:center;
	padding:16px;
	transform:rotate(180deg);
}

.leftbackbottom {
	color:rgba(242,255,254,0.56);
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	margin:8px 0 0 0;
	text-align:center;
}

.leftback:hover .leftbackbottom{
	color:white;
}

.leftback:hover .leftbacktop {
	border:1px solid #EA9A60;
	color:rgb(255, 255, 255);
}

.leftback:active .leftbacktop {
	background-color:#EA9A60;
	color:rgb(37, 37, 37);
}

.leftback:hover .rightbacktop {
	border:1px solid #EA9A60;
	color:rgb(255, 255, 255);
}

.leftback:active .rightbacktop {
	background-color:#EA9A60;
	color:rgb(37, 37, 37);
}

.genocorp {
	color:rgba(255,255,255,0.13);
	padding:30px 125px 0 0;
	font-size:26px;
	font-weight:700;
	letter-spacing: 14px;;
}

h5 {
	font-family: 'Rajdhani', sans-serif;
	color:white;
	font-size:38px;
	color:rgba(241,255,254,0.5);
	margin:0 0 30px 0;
}

#genocorpintitle {
	font-weight:700;
	color:rgba(241,255,254,0.65);
}

#personal {
	font-size:34px;
}

#h220 {
	font-size:20px;
}

.middlebox {
	width:60vw;
}

.middlebox h2 {
	padding:4px 0 30px 0;
	margin:0;
}

/*form*/

.formdiv {
	width:770px;
}

input[type="text"] {
	background-color:transparent;
	border:2px solid rgba(255, 255, 255, 0.28);
	font-family: 'Rajdhani', sans-serif;
	font-size:32px;
	color:rgb(255, 255, 255);
	padding:3px 12px;
	margin:0 0 16px 0;
}

input[type="text"]::placeholder {
	font-family: 'Rajdhani', sans-serif;
	font-size:32px;
	color:rgba(210, 255, 251, 0.17);
}

input:focus, select:focus {
	outline:none;
	border-color:#fffaeec4;
}

input:hover, select:hover {
	border-color:#eefbffc4;
}

.inputshort {
	width:375px;
}

.first {
	margin:0 12px 0 0 !important;
}

.inputlong {
	width:766px;
}

select {
	background-color:transparent;
	border:2px solid rgba(255, 255, 255, 0.28);
	font-family: 'Rajdhani', sans-serif;
	font-size:32px;
	/* color:rgb(255, 255, 255); */
	color:rgba(210, 255, 251, 0.17);
	padding:3px 12px;
	margin:0 0 16px 0;
	width:500px;
}

select option:first-child {
	color:rgba(210, 255, 251, 0.17);
}

select option {
	background-color:rgb(14, 42, 62);
	border:none;
	color:rgb(255, 255, 255);
}

#funding {
	width:250px;
	margin:0 0 16px 12px;
}

.presetbutton {
	width:230px;
	background-color:transparent;
	color:rgba(242, 255, 254, 0.78);
	font-family: 'Rajdhani', sans-serif;
	font-weight:600;
	font-size:32px;
	border:2px solid rgba(255, 255, 255, 0.28);
	margin:10px 0 0 0;
	padding:9px 0;
	text-align: center;
	margin:0 0 24px 0;
	/* text-shadow: 0 0 9px rgba(142,240,255, .76); */
}

.presetbutton:hover {
	/* background-color:rgba(242,255,254,0.15);
	transition:0.2s; */
	border-color:#EA9A60;
	color:white;
}

.presetbutton:active {
	background-color:rgba(242,255,254,0.25);	
	transition:0.1s;
}

.presetbutton:focus {
	background-color:#EA9A60;
	border-color:#EA9A60;
	color:#051C2E;
	font-weight:700;
	transition:0.2s ease;
}

.welcome h2 {
	padding:10px 0;
	color:white;
	font-size:26px;
}

#name {
	font-weight:600;
}

::selection {
	background-color:#793200;
	color:white;
}

a {
	text-decoration:none;
}