html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



body {
	line-height: 1;
   
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset code ends*/


body {
	background-color:black;
	background:url("bgnew.jpg") no-repeat;
    height:100vh;
	
	
	background-size:cover;
	overflow:auto; 
}

.wholepage {
	
	padding:16vh 0;
}

.topmenu {
	font-family: 'Rajdhani', sans-serif;
	display:flex;
	margin:0 0 15px 0;
	color:white;
}

.topmenuleft {
	font-size:24px;
	font-weight:600;
	color:rgba(242,255,254,.80);
	background-color:rgba(255,255,255,0.08);
	margin:10px 0 10px 67px;
	padding:10px 14px;
	display:flex;
	align-items:center;
	position:absolute;
}

.topmenuright {
	margin:0 auto;
	width:63vw;
}

.customiseyourchildren {
	font-size:70px;
	font-weight:700;
	color:rgba(210,255,251,.16);
}

.lessopacity {
	font-size:70px;
	font-weight:700;
	color:rgba(210,255,251,.12);
}

/* 

@media (max-width:1800px) {
	.totalbox {
		zoom:80%;
	}	
}  

@media(max-width:1500px) {
	.totalbox {
		zoom:65%;
	}	
}  

@media(max-width:1200px) {
	.totalbox {
		zoom:60%;
	}	
}  

@media(min-width:2100px) {
	.totalbox {
		zoom:110%;
	}	
}  

@media(min-width:2300px) {
	.totalbox {
		zoom:125%;
	}	
}  

@media(min-width:2500px) {
	.totalbox {
		zoom:135%;
	}	
}  

@media(min-width:2800px) {
	.totalbox {
		zoom:150%;
	}	
}  

@media(min-width:3400px) {
	.totalbox {
		zoom:200%;
	}	
}   */

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size:38px;
    color:rgba(210,255,251,.27);
	font-weight:700;
}

.qualities {
    font-family: 'Rajdhani', sans-serif;
    font-size: 26px;
    font-weight: 500;
    display:flex;
    flex-direction:column;
    width:250px;
    color:#CEF3FF;
    padding:7px 0 0 0;
}

.spanqualities {
    text-shadow: 0 0 9px rgba(72,231,255, .76);
	padding:0 0 20px 0;
}

span {
    padding:0 0 23px 0;
}

h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size:20px;
    font-weight: 400;
    padding:4px 0 45px 0;
    color:rgba(242,255,254,.47);
}

.bigbox {
    margin:0 70px 0 0;
    
}

.ranges {
    display:flex;
    flex-direction:column;
    width:500px;
}

.lowerbox {
    display:flex;
    flex-direction:row;
}

input {
    margin: 2px 0 12px 0;
}

.bottombox {
    font-family:'Rajdhani', sans-serif;
    padding:33px 0 0 0;
}

h3 {
    font-size:20px;
    font-weight:400;
    margin:6px 0 5px 0;
    color:rgba(242,255,254,.47);
}

h4 {
    padding:15px 0 0 0;
    color:rgb(236,255,254);
}

#smallpoints {
    font-size: 36px;
    font-weight:400;
    color:rgba(225,255,253, .5);
}

#points {
    font-size: 62px;
    padding:0 10px 0 0;
    font-weight:700;
    text-shadow: 0 0 9px rgba(114,236,255, .26);
}

#reduce {
    color: #EA9A60;
    padding:10px 0 0 0;
	font-weight:600;
}

.off {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s, opacity 0.5s linear;
}

.totalbox {
	display: flex;
	flex-direction:row;
	padding:40px 0 25px 0 ;
	/* background-color:rgba(255, 255, 255, 0.05); */
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(100px);
	backdrop-filter: brightness(120%);
}

.attributesandpresets {
	margin:0 auto;
	display:flex;
}

.rightbox {
	
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	margin:0 0 20px 0;
	border-left:0.5px solid rgba(255,255,255, .04);
}


.presets {
	font-size:40px;
	margin:0 0 4px 0;
	padding:0 0 0 30px;
}

.presetsbody {
	display:flex;
	flex-direction:column;
	padding:0 0 0 30px;
}

.toprow {
	display:flex;
}

.bottomrow {
	display:flex;
}

.presetbutton {
	width:210px;
	height:37px;
	background-color:transparent;
	color:rgba(242,255,254, 0.6);
	font-family: 'Rajdhani', sans-serif;
	font-weight:600;
	font-size:24px;
	border:none;
	border:1px solid rgba(255,255,255, .23);
	margin:10px 0 0 0;
	padding:0 0 0 15px;
	text-align: left;
	/* text-shadow: 0 0 9px rgba(142,240,255, .76); */
}

.presetbutton:hover {
	/* background-color:rgba(242,255,254,0.15);
	transition:0.2s; */
	border-right:6px solid #EA9A60;
	color:#DBF0FF;
}

.presetbutton:active {
	background-color:rgba(242,255,254,0.25);	
	transition:0.1s;
}

.presetbutton:focus {
	background-color:#EA9A60;
	color:#051C2E;
	border:none;
	font-weight:700;
	transition:0.1s;
}

.h2nopad {
	padding:0;
	margin:0 0 40px 0;
}


/* slider 1 */

.slider-container {
	position: relative;
}
.slider-container .bar {
	position: absolute;
	z-index: 1;
	left: 2px;
	top: 7px;
	width: 100%;
	height: 20px;
	border-radius: 10px;
	background-color: rgba(219, 240, 255, 0.016);
	/* overflow: hidden; */
}
.slider-container .bar .fill {
	display: block;
	z-index:4;
	width: 0;
	height: 100%;
	background-color: #DBF0FF;
	box-shadow: 0 0 25px 0 rgba(0, 162, 255, .83);
    border-radius:15px;
}
.slider-container .slider {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	width: 100%;
	height: 32px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
}
.slider-container .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 23px;
	height: 23px;
	background-color: #DBF0FF;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	/* box-shadow: 0 0 25px 0 #5AE3FF; */
	transition: .2s ease-in-out;
}
.slider-container .slider::-webkit-slider-thumb:hover {
	box-shadow: 0 0 25px 0 #DBF0FF;
}
.slider-container .slider:active::-webkit-slider-thumb {
	box-shadow: 0 0 25px 0 #DBF0FF;
}

/* slider 2 */


.slider-container {
	position: relative;
}
.slider-container .bar2 {
	position: absolute;
	z-index: 1;
	left: 2px;
	top: 7px;
	width: 100%;
	height: 20px;
	border-radius: 10px;
	background-color: rgba(219, 240, 255, 0.016);
	/* overflow: hidden; */
}
.slider-container .bar2 .fill2 {
	display: block;
	z-index:4;
	width: 0;
	height: 100%;
	background-color: #DBF0FF;
	box-shadow: 0 0 25px 0 rgba(0, 162, 255, .83);
    border-radius:15px;
}
.slider-container .slider2 {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	width: 100%;
	height: 32px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
}
.slider-container .slider2::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 23px;
	height: 23px;
	background-color: #DBF0FF;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	/* box-shadow: 0 0 25px 0 #5AE3FF; */
	transition: .2s ease-in-out;
}
.slider-container .slider2::-webkit-slider-thumb:hover {
	box-shadow: 0 0 25px 0 #DBF0FF;
}
.slider-container .slider2:active::-webkit-slider-thumb {
	box-shadow: 0 0 25px 0 #DBF0FF;
}

/* slider 3 */


.slider-container {
	position: relative;
}
.slider-container .bar3 {
	position: absolute;
	z-index: 1;
	left: 2px;
	top: 7px;
	width: 100%;
	height: 20px;
	border-radius: 10px;
	background-color: rgba(219, 240, 255, 0.016);
	/* overflow: hidden; */
}
.slider-container .bar3 .fill3 {
	display: block;
	z-index:4;
	width: 0;
	height: 100%;
	background-color: #DBF0FF;
	box-shadow: 0 0 25px 0 rgba(0, 162, 255, .83);
    border-radius:15px;
}
.slider-container .slider3 {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	width: 100%;
	height: 32px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
}
.slider-container .slider3::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 23px;
	height: 23px;
	background-color: #DBF0FF;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	/* box-shadow: 0 0 25px 0 #5AE3FF; */
	transition: .2s ease-in-out;
}
.slider-container .slider3::-webkit-slider-thumb:hover {
	box-shadow: 0 0 25px 0 #DBF0FF;
}
.slider-container .slider3:active::-webkit-slider-thumb {
	box-shadow: 0 0 25px 0 #DBF0FF;
}

/* slider 4 */


.slider-container {
	position: relative;
}
.slider-container .bar4 {
	position: absolute;
	z-index: 1;
	left: 2px;
	top: 7px;
	width: 100%;
	height: 20px;
	border-radius: 10px;
	background-color: rgba(219, 240, 255, 0.016);
	/* overflow: hidden; */
}
.slider-container .bar4 .fill4 {
	display: block;
	z-index:4;
	width: 0;
	height: 100%;
	background-color: #DBF0FF;
	box-shadow: 0 0 25px 0 rgba(0, 162, 255, .83);
    border-radius:15px;
}
.slider-container .slider4 {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	width: 100%;
	height: 32px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
}
.slider-container .slider4::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 23px;
	height: 23px;
	background-color: #DBF0FF;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	/* box-shadow: 0 0 25px 0 #5AE3FF; */
	transition: .2s ease-in-out;
}
.slider-container .slider4::-webkit-slider-thumb:hover {
	box-shadow: 0 0 25px 0 #DBF0FF;
}
.slider-container .slider4:active::-webkit-slider-thumb {
	box-shadow: 0 0 25px 0 #DBF0FF;
}

/* slider 5 */


.slider-container {
	position: relative;
}
.slider-container .bar5 {
	position: absolute;
	z-index: 1;
	left: 2px;
	top: 7px;
	width: 100%;
	height: 20px;
	border-radius: 10px;
	background-color: rgba(219, 240, 255, 0.016);
	/* overflow: hidden; */
}
.slider-container .bar5 .fill5 {
	display: block;
	z-index:4;
	width: 0;
	height: 100%;
	background-color: #DBF0FF;
	box-shadow: 0 0 25px 0 rgba(0, 162, 255, .83);
    border-radius:15px;
}
.slider-container .slider5 {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	width: 100%;
	height: 32px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
}
.slider-container .slider5::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 23px;
	height: 23px;
	background-color: #DBF0FF;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	/* box-shadow: 0 0 25px 0 #5AE3FF; */
	transition: .2s ease-in-out;
}
.slider-container .slider5::-webkit-slider-thumb:hover {
	box-shadow: 0 0 25px 0 #DBF0FF;
}
.slider-container .slider5:active::-webkit-slider-thumb {
	box-shadow: 0 0 25px 0 #DBF0FF;
}

/*graph*/

.quiz-chartTip {
	padding: 5px 10px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
	background-color: rgba(255,255,255,.9);
	box-shadow: 3px 3px 10px rgba(0,0,0,.1);
	position: absolute;
	z-index: 50;
	max-width: 250px;
}

.quiz-graph {
	padding: 10px; 
	height: 370px;
	width: 100%;
}

.quiz-graph .x-labels {
	text-anchor: middle;
}

.labelcolor {
	background-color:#f2fffe;
}

.quiz-graph .y-labels {
	text-anchor: end;
}

.quiz-graph .quiz-graph-grid {
	stroke: #ccc;
	stroke-dasharray: 0;
	stroke-width: 1;
}

.label-title {
	text-anchor: middle;
	text-transform: uppercase;
	font-size: 12px;
	fill: gray;
}

.quiz-graph-dot, .quiz-graph-start-dot{
	fill: rgba(0,112,210,1);
	stroke-width: 2;
	stroke: white;   
}

.mylabels {
	margin:-180px 0 0 33px;
}

.indlabels {
	padding: 0 35px 0 0;
	font-family: 'Rajdhani', sans-serif;
	color: rgb(242, 255, 254);
	font-weight:300;
	text-shadow: 0 0 5px rgb(142, 240, 255);
}

.bottomdisclaimer {
	display:flex;
	justify-content:space-between;
	font-family: 'Rajdhani', sans-serif;
	margin:50px 0 0 0;
	padding:0 40px 0 25px;
}

.disclaimerleft {
	color:rgba(242,255,254,.29);
	font-size:16px;
	width:280px;
}

.version {
	text-align:right;
}

#versionlightest {
	font-size:18px;
	font-weight:400;
	color:rgba(242,255,254,0.2);
	margin:-8px 0 10px 0;
}

#versionlight {
	font-size:18px;
	font-weight:400;
	color:rgba(242,255,254,0.4);
	margin:-8px 0 10px 0;
}

#versiondark {
	font-size:20px;
	font-weight:500;
	color:rgba(242,255,254,0.85);
	margin:-8px 0 10px 0;
}



/* Glitch */
/* 
.imrelative {
	position:relative;
} */

.imrelative {
	position:relative;
	top:10px;
	left:10px;
}

.imabsolute {
	position:absolute;
	top:0;
	left:0;
}

.imrelative2 {
	position:relative;
	top:10px;
	left:5px;
}

.imabsolute2 {
	position:absolute;
	top:0;
	left:525px;
}

.text {
	color: #e2f8ff;
	text-transform: uppercase;
	font-weight:700;
	font-size: 60px;
	letter-spacing: 8px;
	position:absolute;
	top:6px;
	left:6px;
	width:400%;
  }
  
  .text::before,.text::after{
	content: attr(data-text);
	position:absolute;
	
	width: 200%;
	
	z-index: -1;
  }
  
  .text::before{
	color: #ff00c1;
	animation: glitch-effect 3s infinite;
  }
  
  .text::after{
	color: #3498db;
	animation: glitch-effect 2s infinite;
  }
  
  @keyframes glitch-effect {
	0%{
	  left: -2.5px;
	  top: -2.5px;
	}
	25%{
	  left: 2.5px;
	  top: 0px;
	}
	50%{
	  left: -1.5px;
	  top: 2.5px;
	}
	75%{
	  left: 1.5x;
	  top: -1.5px;
	}
	100%{
	  left: 0px;
	  top: -2.5px;
	}
  }
  

/*back arrows*/

.leftback {
	display:flex;
	flex-direction:column;
	margin:auto 100px auto 100px;
	align-items:center;
}

.leftbacktop {
	width:55px;
	height:55px;
	border:1px solid rgba(255, 255, 255, .24);
	color:rgba(242,255,254,0.56);
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	text-align:center;
	padding:16px;
}

.rightbacktop {
	width:55px;
	height:55px;
	border:1px solid rgba(255, 255, 255, .24);
	color:rgba(242,255,254,0.56);
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	text-align:center;
	padding:16px;
	transform:rotate(180deg);
	margin:0 auto;
}

.leftbackbottom {
	color:rgba(242,255,254,0.56);
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	margin:8px 0 0 0;
	text-align:center;
}

.leftback:hover .leftbackbottom{
	color:white;
}

.leftback:hover .leftbacktop {
	border:1px solid #EA9A60;
	color:rgb(255, 255, 255);
}

.leftback:active .leftbacktop {
	background-color:#EA9A60;
	color:rgb(37, 37, 37);
}

.leftback:hover .rightbacktop {
	border:1px solid #EA9A60;
	color:rgb(255, 255, 255);
}

.leftback:active .rightbacktop {
	background-color:#EA9A60;
	color:rgb(37, 37, 37);
}

.genocorp {
	color:rgba(255,255,255,0.13);
	padding:30px 125px 0 0;
	font-size:26px;
	font-weight:700;
	letter-spacing: 14px;;
}

::selection {
	background-color:#793200;
	color:white;
}

a {
	text-decoration:none;
}


@media(max-width:1500px) {
	.wholepage {
		zoom:80%;
		padding:15vh 0 0 0;
	}	
	.attributesandpresets {
		width:70vw !important;
	}
	.topmenuright {
		width:75vw !important;
	}
	.bottomdisclaimer {
		margin:100px 0 0 0;
	}
}  

@media(max-width:1300px) {
	.wholepage {
		zoom:60%;
		padding:10vh 0 0 0;
	}
	.bottomdisclaimer {
		margin:150px 0 0 0;
	}
}
